@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-6 mx-auto">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h2 class="text-center">Bisnis Integrasi Global Test</h2>
                    <p class="text-center">
                        Developed by <a target="_blank" href="https://github.com/fadhly-permata/">Fadhly Permata</a>
                        using:
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-1">#</th>
                            <th class="col">Tools</th>
                            <th class="col-2">Version</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><a target="_blank" href="https://elementary.io/">Elementary OS</a> (Ubuntu 20.04 Base)</td>
                            <td>6.1 (Jólnir)</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><a target="_blank" href="https://dbdiagram.io/d/63f34f66296d97641d824427">DB Diagram</a></td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><a target="_blank" href="https://code.visualstudio.com/">VSCode</td>
                            <td>1.74.3</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><a target="_blank" href="https://learn.microsoft.com/en-us/dotnet/core/introduction">C# with AspNetCore</a></td>
                            <td>7.0</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td><a target="_blank" href="https://learn.microsoft.com/en-us/ef/core/">Entity Framework Core</a></td>
                            <td>7.0.3</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td><a target="_blank" href="https://github.com/domaindrivendev/Swashbuckle.AspNetCore">Swagger (Swashbuckle.AspNetCore)</a></td>
                            <td>6.5.0</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td><a target="_blank" href="https://sqlite.org/index.html">SQLite</a></td>
                            <td>3.13.0</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td><a target="_blank" href="https://dbeaver.io/">DBeaver-CE (Database Editor)</a></td>
                            <td>22.3.3</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td><a target="_blank" href="https://getbootstrap.com/docs/5.1/getting-started/introduction/">Bootstrap</a></td>
                            <td>5.1.0</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td><a target="_blank" href="https://icons.getbootstrap.com/">Bootstrap Icons</a></td>
                            <td>1.10.3</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td><a target="_blank" href="https://bootstrap-table.com/">Bootstrap Tables</a></td>
                            <td>1.21.2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>